<div class="inbox">
  <div class="inbox--header">
    Use this email to sign up
  </div>
  <div *ngIf="email$|async as email" class="inbox--email" (click)="changeNotifier()"
    [cdkCopyToClipboard]="copyEmail(email)">
    {{email}}
  </div>
  <div class="inbox--helptext">
    {{copyMessage}}
  </div>
  <div class="inbox--content-title">
    Your inbox content:
  </div>
  <div class="inbox--content">
    <mat-expansion-panel class="inbox--content-individual mat-elevation-z1"
      *ngFor="let item of inboxEmails$ | async as list">
      <mat-expansion-panel-header>
        <mat-panel-title>
          from: {{item.from}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.subject}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [innerHTML]="item.html"></div>
    </mat-expansion-panel>
  </div>
</div>