.inbox {
  margin: 24px;
  font-size: 16px;
  &--header {
    padding: 16px 0;
  }
  &--email {
    padding: 14px;
    border: 1px solid #ababab;
    border-radius: 4px;
    background-color: beige;
  }
  &--content-title {
    padding: 16px 0;
  }
  &--content-individual {
    border-radius: 0;
  }
}
